{% extends 'base.html' %}

{% block contect %}
    <h1>Projects</h1>
    <div >
      <div>
        <h3>GPS-Based Attendance App</h3>
        <p>Android application that increased user engagement by 30% and automated attendance using GPS geofencing.</p>
        <p >Stack: Kotlin, Firebase, Google Maps API</p>
        <p >
          <a href="" target="_blank" >GitHub</a>
          <a href="" target="_blank" >Demo</a>
        </p>
    </div>

      <div>
        <h3>Movie Info Flask Web App</h3>
        <p>Flask application that fetches IMDb data via the OMDB API, allowing users to search and bookmark movies.</p>
        <p >Stack: Python, Flask, OMDB API, Bootstrap</p>
        <p >
          <a href="" target="_blank" >GitHub</a>
        </p>
      </div>

      <div>
        <h3>Tech Impact Presentation</h3>
        <p>Collaborative slide deck analyzing how technology affects society in India, delivered to a 100+ audience.</p>
        <p >Stack: PowerPoint, Canva, Figma</p>
        <p >
          <a href="" target="_blank" >GitHub</a>
        </p>
      </div>
    </div>
{% endblock %}